.middle-banner {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
