.middle-banner {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Desktop ve tablet'te normal görsel */
.desktop-banner {
  display: block;
}

.mobile-banner {
  display: none;
}

/* Mobilde yeşil görsel */
@media (max-width: 768px) {
  .desktop-banner {
    display: none;
  }

  .mobile-banner {
    display: block;
  }
}
